.my_header {
    overflow: hidden;
    background-color: #808080;
    padding-top: 10px;
    padding: 10px 5px;
  }
  
  /* Style the header links */
  .my_header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .my_header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .my_header a:hover {
    background-color: #ddd;
    color: black;
  }
  

  /* Float the link section to the right */
  .header_right{
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .my_header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header_right {
      float: none;
    }
  }

  * {
    box-sizing: border-box;
  }
  
  .two_divs {
    font-family: "Helvetica", sans-serif;
    float: left;
    width: 50%;
    padding: 50px;
    height: 300px;
  }
  
  .my_smart_watch::after {
    content: "";
    clear: both;
    display: table;
  }
  .button_link {
    background-color: green;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 30px;
    cursor: pointer;
    text-decoration:none;
    border-radius: 5px;
}
.button_link:hover {
  background-color: #223094;
}
.product_f {
    float: left;
    width: 25%;
    padding: 50px;
  }
  
  .product_features::after {
    content: "";
    clear: both;
    display: table;
  }
  
.testimonials_box {
    font-family: 'Sofia';
  float: left;
  width: 33%;
  padding: 50px;
  margin: 2px;
  box-shadow: 5px 10px #888888;
  border-radius: 5px;
}

.testimonials::after {
  content: "";
  clear: both;
  display: table;
}
